.video__list__box {
    display: flex;
    
    
    justify-content: center;
}

.video__list__items__box{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;

    
}

.video__list__item__box {
    display: flex;
    /* width: 100%; */
    /* flex-direction: column; */
        flex-direction: column;
    border: 1px solid #333;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    color: white;
    /* padding: 1rem; */
    cursor: pointer;
    margin-top: 1%;
}

@media (min-width: 1600px) {
    .video__list__item__box {
        flex-basis: calc(94% / 4);

    }

}

@media (max-width: 1600px) {
    .video__list__item__box {
        flex-basis: calc(94% / 3);

    }

}

@media (max-width: 1200px) {
    .video__list__item__box {
        flex-basis: calc(97% / 2);

    }

}

@media (max-width: 700px) {
.video__list__item__box {
        flex-basis: 100%;
        margin-top: 30px;
    }

}
