.button {
  display: inline-block;
  margin-right: 8px;
}



.button__border {
  border: 1px solid;
  border-radius: 20px;
  padding: 6px 12px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.exist__keyword {
  color: #0b905b;
}

.button__text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.selected .button__border {
  border-color: #333;
  background-color: #333;
}

.selected .button__text {
  color: #fff;
}

.video__button {
  margin-left: 1rem;
  border: 1px solid;
  border-radius: 20px;
  padding: 6px 12px;
  background-color: #ff3333;
  transition: all 0.3s ease-in-out;
}

.video__button:hover {
  background-color: #ff6666;
}

.video__button__active {
  background-color: #00ff99;
}

.filter__box {
  display: flex;
  /* flex-wrap: wrap; */
  gap : 1rem;
  color : white
}

.filter__button {
  width: 100px;
  height: 40px;
  margin-right: 8px;
  border: 1px solid;
  border-radius: 10px;
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
}