.nav {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  min-width: 400px;
  /* padding: 20px 0px; */
  top: 0;
  z-index: 3;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: white;
  /* justify-content: center; */
}

.content-area {
  height: 80px;
  width: 100%;
  max-width: 1600px;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.nav_black {
  transition: all 0.5s;

  background-color: black;
}

.nav__avatar {
  cursor: pointer;
  border-radius: 100%;
}

.nav__logo {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav__logo {
    left: 40px;
    width: 20%;
    object-fit: contain;
  }

  .nav__avatar {
    top: 1%;
    right: 10%;
    width: 60px;
    height: 60px;
  }

  .nav__input {
    /* display: absolute; */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    /* height: 50%; */
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__logo {
    left: 20px;
    width: 30%;
    object-fit: contain;
    mix-blend-mode: multiply;
  }

  .nav__avatar {
    right: 40px;
    width: 50px;

    border-radius: 100%;
  }

  .nav__input {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;

    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px;
    border: none;
  }
}

/* 
.nav__logo {
  position: fixed;
  left: 40px;
  width: 15%;
  object-fit: contain;
} */